@media only screen and (max-width: 767px) {
    /* For Mobile */
    .container {
        width: 100%;
        margin: 0;
    }

    .header {
        height: 50px;
        padding: 5px 10px;
    }

    .header_title{
        line-height: 35px;
        font-size: 24px;
    }

    .icon-menu{
        line-height: 40px;
    }

    .add-todo {
        width: 50%;
        left: 25%;
    }

    .add-input {
        left: 10%;
        width: 80%;
    }
}